<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="text-align: right">
            <span class="text-line">旧密码：</span>
        </div>
        <div class="col-md-4"  style="padding: 0">
            <input type="password" class="form-control btn-radius" placeholder="请输入旧密码" (keyup)="authenTication()" maxlength="20" [(ngModel)]="modificationInformation.oldPassword">
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="text-align: right">
            <span class="text-line">新密码：</span>
        </div>
        <div class="col-md-4"  style="padding: 0">
            <input type="password" class="form-control btn-radius" placeholder="请输入新密码" (keyup)="authenTication()" maxlength="20" [(ngModel)]="modificationInformation.newPassword">
        </div>
        <div class="col-md-4" *ngIf="Isidentical">
            <span class="text-line" style="color: #cb2027">新密码和旧密码不能一致</span>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="text-align: right">
            <span class="text-line">确认新密码：</span>
        </div>
        <div class="col-md-4" style="padding: 0">
            <input type="password" class="form-control btn-radius" placeholder="请确认新密码" (keyup)="inputValidation()" [(ngModel)]="modificationInformation.repassword" maxlength="20">
        </div>
        <div class="col-md-4" *ngIf="validationHints">
            <span class="text-line" style="color: #cb2027">两次密码不一致</span>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4" style="padding: 0">
        <button class="btn btn-primary" (click)="modifySubmit()">确认</button>
        </div>
    </div>
</div>
