<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.admin.dao.EmotionsMapper">
  <resultMap id="BaseResultMap" type="io.anshily.model.Emotions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="likenum" jdbcType="INTEGER" property="likenum" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>