<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.admin.dao.ShareMapper">
  <resultMap id="BaseResultMap" type="io.anshily.model.Share">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="share_token" jdbcType="VARCHAR" property="share_token" />
  </resultMap>

  <select id="findSharesByToken" resultType="io.anshily.model.Share" parameterType="string">
    select * from qy_share where share_token = #{token}
  </select>

  <select id="getArticleShareNumber" resultType="map">
    select count(*) as "shareNumber" from qy_share where aid = #{id}
  </select>
</mapper>