<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../public/css/banner.css">

    <link rel="stylesheet" href="../../public/css/editor.css">
    <link rel="stylesheet" href="../../public/css/editor-small.css" media="screen  and (max-width:650px)">
    <title>发布成功</title>
    <style>
        .login-register{
            right:0 ;
        }

    </style>
</head>
<body>
<div class="main">

    <div class="main-title">
        <div class="main-top">
            <span class="main-top-title"><span href="">提交成功</span></span>
        </div>
    </div>

    <div class="main-content">
        <div><img class="successImg" src="../../public/images/提交成功.png" alt=""></div>
        <a class="backIndex" href="/">返回首页</a>
    </div>

</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../public/js/bannerNav.js"></script>