<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../public/css/banner.css">
    <link rel="stylesheet" href="../../public/css/flashList.css">
    <link rel="stylesheet" href="../../public/css/flashList-small.css" media="all and (max-width:650px)">

    <title>快讯列表</title>
</head>
<body>
<!--快讯列表-->

<div class="articleContent">



    <div class="Left">

        <div class="main-title">
            <div class="main-top">
                <span class="main-top-title"><a href="">快讯</a></span>
                <span class="main-top-login"></span>
            </div>
        </div>


        <div class="matter">

            <!--<div class="flashBox">-->
                <!--<div class="jsBox">-->
                    <!--<div class="grade"></div>-->
                    <!--<div class="intro">-->
                        <!--<div class="content">-->
                            <!--<a target="_blank" class="livesb" href="http://www.baidu.com">蓝色光标发布小蓝机器人家族产品，机器人会营销还能撰稿</a>-->
                            <!--<a target="_blank" class="livesbx">8月4日，蓝色光标对外发布智能营销产品矩阵“小蓝机器人家族”，这是营销行业内首款智能自动化人机交互-->
                                <!--产品族。其中，idataBot营销数据平台、撰稿机器人妙笔、发布机器人生花、鲁班一站式电商营销平台、麦-->
                                <!--集客等产品均为首次亮相。</a><br/>-->
                        <!--</div>-->

                        <!--<div class="flash-footer">-->
                            <!--<div class="flash-footer-time">38分钟前</div>-->
                            <!--<div class="flash-footer-look">-->
                                <!--<img class="flash-look" src="../../public/images/浏览.png" alt="">-->
                                <!--<span>300</span>-->
                            <!--</div>-->
                            <!--<div class="flash-footer-share">-->
                                <!--<img  class="flash-look" src="../../public/images/分享.png" alt="">-->
                                <!--<span>分享</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="load"><div id="loadBox" class="loadBox">加载更多</div></div>
        </div>
    </div>

    <div class="Right">



        <div class="projectBox">
            <img src="../../public/images/xiaochengxu.jpg" alt="">
            <div class="projectBox-rt">
                <span>扫码小程序</span>
                <span>掌上轻松阅读>></span>
            </div>
        </div>

        <div class="hotArticles">

            <div class="hotTitle">热门文章</div>
            <ul class="hotUl">
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <!--<li>-->
                <!--<img src="https://www.xcj.com/uploads/20180704/78cbc6de9a4eb9a37b0fd7d08d9c2120.jpg">-->
                <!--<span>asdadadasds</span>-->
                <!--</li>-->
            </ul>

        </div>

    </div>

</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../public/js/layer.js"></script>
<script src="../../public/js/bannerNav.js"></script>
<script src="../../public/js/flashList.js"></script>
<script src="../../public/js/top.js"></script>