<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>消息通知</title>
    <link rel="stylesheet" href="../../public/css/userInfo.css">
    <link rel="stylesheet" href="../../public/css/userInfo_small.css" media="all and (max-width:650px)">
    <link rel="stylesheet" href="../../public/css/userMessage.css">

</head>
<body>
<div class="outmain">
    <div class="main">

        <div class="main-title">
            <div class="main-top">
                <span class="main-top-title">消息通知</span>
            </div>
        </div>


        <div class="score main_content">
            <ul id="messageList" class="messageList">
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->

                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->
                <!--<li><span>xxxxxxx评论了你的消息</span><span>3min ago</span></li>-->

            </ul>

        </div>

        <div class="navigatepageNums">
            <span class="preLi"><a><</a></span>
            <ul>
            </ul>
            <span class="nextA"><a>></a></span>
            <span id="allPageSpan"></span>
            <input type="text" id="jumpPageInput"><p>页</p>
            <button id="jumpPageButton">确定</button>
            <a id="jumpPageA" style="opacity: 0"></a>
        </div>
    </div>
</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../public/js/layer.js"></script>
<script src="../../public/js/userMessage.js"></script>