<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的发布</title>
    <!--<link rel="stylesheet" href="../../public/css/userInfo.css">-->
    <link rel="stylesheet" href="../../public/css/userRelease.css">
    <!--<link rel="stylesheet" href="../../public/css/index.css">-->
    <link rel="stylesheet" href="../../public/css/userRelease-small.css" media="all and (max-width:650px)">
</head>
<body>
<div class="outmain">
    <div class="main">

        <div class="main-title">
            <div class="main-top">
                <span class="main-top-title">我的发布</span>
            </div>
        </div>


        <div class="main_content">
            <div class="user_article_hd">
                <ul class="user_article_menu">
                    <li id="showAll">全部</li>
                    <li id="showWaitAudit">待审核</li>
                    <li id="release">审核通过</li>
                    <li id="notPass">审核未通过</li>
                    <!--<li>草稿</li>-->
                </ul>
                <!--<a id="myArticleA" class="user_article_home">我的文章</a>-->
            </div>

            <div id="articleTable" class="user_article_table">
                

                <!--<div class="contentBox">-->

                    <!--<span class="artical-pic">-->
                        <!--<img class="newsPic" src="https://www.xcj.com/uploads/20180718/617651171b502c82dee64f8122d5a436.jpg">-->
                    <!--</span>-->

                    <!--<span class="contentBrief">-->
                            <!--<a herf="/" target="_self">-->
                                <!--<h2>这是一个标题这是一个标题这是一个标题这是一个标题这是一个标题这是一个标题这是这是一个标题这是一个标题这是</h2>-->
                                <!--<span class="checkBox">待审核</span>-->
                            <!--</a>-->
                            <!--<p class="contentBox-p">这是文本内容这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是</p>-->
                            <!--<div class="smallSpan">-->

                                <!--<span class="contentUserSpan">-->
                                    <!--<p>自由马克</p>-->
                                    <!--<span></span>-->
                                    <!--<span>2018-01-01</span>-->
                                <!--</span>-->

                                <!--<span class="lookSpan">-->
                                    <!--<img src="../../public/images/浏览.png" alt="">-->
                                    <!--<span>300</span>-->
                                <!--</span>-->
                            <!--</div>-->

                        <!--</span>-->
                <!--</div>-->


                <div id="" class="user_article_table_no">
                    <img src="../../public/images/none.png" alt="">
                </div>


                <div class="navigatepageNums">
                    <span class="preLi"><a><</a></span>
                    <ul>
                    </ul>
                    <span class="nextA"><a>></a></span>
                    <span id="allPageSpan"></span>
                    <input type="text" id="jumpPageInput"><p>页</p>
                    <button id="jumpPageButton">确定</button>
                    <a id="jumpPageA" style="opacity: 0"></a>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../public/js/layer.js"></script>
<script src="../../public/js/userRelease.js">
</script>